/* ADMIN PANEL STYLES */

/* iModules */
.iModuleContent ul, li {
	list-style:none;
	padding:0;
	margin:0;	
}

.iModuleContent h1 .iModulesTitle {
	color:#333;
	font-family: Trebuchet MS;
	font-size: 15px;
	display: block;
	float: left;
	margin-right:20px;
}

.iModuleContent .box > .heading h1 {
	width: 680px;	
}

ul.iModuleAdminMenu {
	width: 186px;
	list-style:none;
	padding:0;
	margin:-10px 0 0 -30px;
	background:#EDEDED;
	min-height: 319px;
	float:left;
	font-family: Trebuchet MS;
	border-left: 1px solid #CCC;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #CCC;
}

.iModuleAdminMenu li {
	list-style:none;
	padding:0;
	margin:0;
	display:block;
	height: 38px;
	margin-bottom: 0px;
	line-height:38px;
	padding-left: 16px;
	font-size: 14px;
	cursor:pointer;
	color:#333;
	text-shadow: #fff 1px 1px 0px;
}

.iModuleAdminMenu li.selected {
	background:#CFDE55;
}

.iModuleAdminMenu li:hover {
	color:#000;
}


ul.iModuleAdminSuperMenu {
	float: left;	
	margin-left: 60px;
}

.iModuleAdminSuperMenu li {
	float: left;	
	font-size: 14px;
	line-height:23px;
	cursor: pointer;
	color: #333;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding: 0 10px;
	padding-bottom: 6px;
	padding-top: 6px;
	margin-top: -7px;
	margin-right: 5px;
	background: #DBDBDB;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.iModuleAdminSuperMenu li.selected {
	background:#fff;
	font-weight:bold;
	color:#333;
}


.iModuleAdminWrappers {
	list-style:none;
	padding:0;
	margin:0;	
}

.iModuleAdminWrappers li {
	list-style:none;
	padding:0;
	margin:0;
	height: 100%;
	margin-bottom: 15px;
	padding: 10px;
	display: none;
}

.iModuleAdminWrappers hr {
	border: none;
	border-bottom: 1px dashed #ccc;
}

.iModuleAdminWrappers label {
	min-width: 200px;	
	margin-top:5px;
	display:block;
	float:left;
	padding-right: 15px;
}

.iModuleAdminWrappers .iModuleFields > span {
	float:left !important;	
}

.iModuleAdminWrappers select, .iModuleAdminWrappers input, .iModuleAdminWrappers textarea {
	min-width: 140px;	
}

.iModuleAdminWrappers textarea {
	min-height:140px;	
	min-width:400px;
}

.iModuleAdminWrappers li:first-child {
	display:block;	
}

.iModuleWrapperTitle {
	font-size: 16px;
	margin-bottom: 15px;	
}

.iModuleAdminSuperWrappers .content {
	padding: 10px;
	margin-left: 160px;
	min-height: 320px;
}

.iModuleAdminSuperWrappers > li {
	display:none;	
}

.iModuleAdminSuperWrappers > li:first-child {
	display: block;
}

.iModuleContent .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.iModuleContent .clearfix {
	display: inline-block;
}
 
html[xmlns] .iModuleContent .clearfix {
	display: block;
}
 
* html .iModuleContent .clearfix {
	height: 1%;
}

.iModuleAdminSuperWrappers .iModuleWrapperTitle h2 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom:none;
	text-transform:none;
	font-size: 24px;
}

.iModuleAdminSuperWrappers .iModuleWrapperTitle h3 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom:none;
	text-transform:none;
	font-size: 18px;
}

.iModuleAdminSuperWrappers .iModuleWrapperText {
	font-size: 12px;	
}

.iModuleAdminSuperWrappers .supportUL, .iModuleAdminSuperWrappers .iModuleUL {
	padding-left: 20px;	
}

.iModuleAdminSuperWrappers .iModuleSupportButton {
	background:#51AA68;
	padding: 10px 20px;
	color:white;
	border: 2px solid #fff;
	outline: 2px solid #4E9660;
	text-decoration:none;
	display:inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	
}

.iModuleAdminSuperWrappers .iModuleSupportButton:hover {
	background:#4E9660;
}

.iModuleContent .box .notActivatedContent {
	padding: 10px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	min-height: 300px;
	overflow: auto;	
	text-align:center;
	padding-top: 80px;
}

.iModuleContent .box .notActivatedContent h1 {
	font-size:28px;
	
}

.iModuleContent .iModuleActivateButton {
	background:#069;
	padding: 16px 28px;
	color:white;
	border: 4px solid #fff;
	outline: 4px solid #ccc;
	text-decoration:none;
	display:inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 34px;
	
}

.iModuleContent .iModuleActivateButton:hover {
	background:#06d;
}


/* iAnalytics */
.colorsLi .colorPreview {
	width: 18px;
	height: 18px;
	background:#ccc;
	border: 1px solid #aaa;
}

.colorsLi tr th {
	color:#333;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	text-align:left;
	padding-left:10px;
}

.colorsLi tr td {
	text-align:left;	
}

#searchedFound {
	height: 400px;	
	padding:0;
}

.iSimpleTable {
	margin:0 20px 20px 20px;	
}

.iSimpleTable td {
	padding: 5px;
	width:100%;
	text-align:center;
}

.iSimpleTable td:first-child {
	text-align:left;
}

.iSimpleTable td:last-child {
	text-align:right;
}

.iSimpleTable tr:first-child td {
	border-bottom: 1px dotted #CCC;
}

div.content div.analytics {
	width: 100%; clear: both; margin-bottom: 20px;
}

/* iAnalytics Date Filter */

.iAnalyticsSearchDateFilter, .iAnalyticsProductDateFilter {
	
}

.iAnalyticsSearchDateFilter div.clearfix, .iAnalyticsProductDateFilter div.clearfix { 
	height: 50px;
}

.iAnalyticsSearchDateFilter h1, .iAnalyticsProductDateFilter h1 {
	float: left;
	margin-top: 0px;
}

table.iAnalyticsDateFilter {
	float: right;
	border-collapse:collapse;
	padding:0px;
	margin:0px;
}

table.iAnalyticsDateFilter td {
	padding: 0 0 0 20px;
}

table.iAnalyticsDateFilter td label {
	padding-right: 5px;
	display:inline;
	min-width: 10px;
}

table.iAnalyticsDateFilter td select {
	min-width: 80px;	
}

.iAnalyticsDateFilter input {
	width: 80px;
	min-width: 80px;
}

.iAnalyticsSelectBox .optionDisabled {
	color: #999;	
}