<div class='close_la'></div>
<table>
  <tr>
  	<td><b><?php echo $entry_email; ?></b>&nbsp;<input type="text" name="email" value="" /><br /></td>
	<td><b><?php echo $entry_password; ?></b>&nbsp;<input type="password" name="password" value="" /><br /></td>
	<td><a id="button-login" class="button"><span><?php echo $button_login; ?></span></a><br /></td>
	<td><a href="<?php echo $forgotten; ?>"><?php echo $text_forgotten; ?></a></td>
    <!--<td>&nbsp;</td>
    <td><?php echo $fb_url ?></td> soolee hide facebook button Dec 4 2012 -->
  </tr>
</table>
<script type="text/javascript"><!--
$('#login input').keydown(function(e) {
	if (e.keyCode == 13) {
		$('#button-login').click();
	}
});
//--></script>   