@charset "utf-8";
/* CSS Document */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.listProductHeader {
	font-size: 18px;
	font-weight: bold;
}

.listDrawingBg {
	background: #fff;
	width: 68px;
}

.dimensions {
	text-align: right;
}

.priceBg {
	background-color: #C33;
	color: #fff;
	text-align: center;
}

.price {
		background-color: #C33;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}


.priceBg2 {
	background-color: #6C9;
	color: #fff;
	text-align: center;
}

.price2 {
	background-color: #6C9;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}


.priceBg3 {
	background-color: #0C0;
	color: #fff;
	text-align: center;
}

.price3 {
		background-color: #0C0;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.priceBg4 {
	background-color: #09F;
	color: #fff;
	text-align: center;
}

.price4 {
		background-color: #09F;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}



.specColor {
	background: #e3e3e3;
}

.productBg {
	background: #f3f3f3;
}

.productBorder {
	border: 1px solid #999;
}

.warranty {
	font-variant: small-caps;
	font-size: 1.2em;
}

.mainHeaderBg {
	background: #172F40;
}

.specsHeader {
	font-weight: bold;
	font-size: 12px;
}

.specsBg1 {
	background: #e3e3e3;
}

.specsBg2 {
	background: #f3f3f3;
}

/* listview */

.listGray {
	background: #999;
}

.itemBg {
	background: #fff;
}

.itemBg2 {
	background: #f3f3f3;
}

.itemHeader {
	font-weight: bold;
	font-size: 13px;
}

/* product page */
.specsTable {
	font-size: 1.2em;
}

.priceProduct {
	background-color: #C33;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.specsTableHeader {
	font-weight: bold;
}

.mainurlContainer {
	padding-right: 10px;
	font-size: 14px;
}

a.mainurl {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

a.mainurl:hover {
	text-decoration: none;
	font-weight: bold;
	color: #CCC;
}

.alternateHeader {
	font-weight: bold;
	height: 50px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	background: #666;
}

.contactInfo {
	color: #fff;
}

a.contactLink {
	color: #fff;
}

a.contactLink:hover {
	color: #CCC;
}