<!--$html_template_css = '<style>
table.pdf_table
{
width:100%;
border-bottom:1px solid #EFEFEF;
padding-bottom:10px;
}
td.pdf_product_count
{
font-size:8pt;
vertical-align: middle;
text-align:center;
border-left: 1px solid #EFEFEF;
}
td.pdf_product_q
{
font-size:10pt;
vertical-align: middle;
text-align:center;
}
td.pdf_category
{
font-size:12pt;
background-color:#EFEFEF;
padding:10px;
}
tr.pdf_header td
{
background-color:#f9f9f9;
font-size:9pt;
border-right: 1px solid #EFEFEF;
}
tr.pdf_header td.fl1
{
width:20%;
border-left: 1px solid #EFEFEF;
}
tr.pdf_header td.fl2
{
width:20%;
}
tr.pdf_header td.fl3
{
width:40%;
}
tr.pdf_header td.fl4
{
width:7%;
}
tr.pdf_header td.fl5
{
width:13%;
}
tr.pdf_product
{
page-break-inside:avoid; 
page-break-after:auto;
height: auto;
}
tr.pdf_product td
{
border-top: 1px solid #EFEFEF;
border-right: 1px solid #EFEFEF;
}
td.pdf_product_image
{
padding: 0;
margin: 0;
}
td.pdf_product_desc
{
text-align:left;
font-size:9pt;
}
td.pdf_product_price
{
}
ul.pdf_product_ul, ul.pdf_product_ul li
{
list-style-type:none;
margin:0;
padding:0;
}
.page_break
{
page-break-before: always;
}-->

	$html_template_css = str_replace("{::image_height}", $image_height, $html_template_css);
	$html = $html_template_css;

	$this->load->model('tool/image');
    
$cat_main = '<h1>{::category_title}</h1><br>';

$table_head = '<table class="pdf_table" cellpadding="2px" cellspacing="0">
<tr nobr="true" class="pdf_header">
<td class="fl1">Item #</td>
<td class="fl2">Image</td>
<td class="fl3">Description</td>
<td class="fl4">MOQ</td>
<td class="fl5">Price</td>
</tr>
{::products}
</table>
';

$table_head = '<table class="pdf_table" cellpadding="2px" cellspacing="0"><tr nobr="true"><td colspan="5" class="pdf_category">{::product_name}</td></tr>
<tr class="pdf_product" nobr="true">
<td class="pdf_product_count"><span>{::count}</span></td>
<td class="pdf_product_image"><img src="{::product_image}" class="product_image" /></td>
<td class="pdf_product_desc">
{::extras}
</td>
<td class="pdf_product_q">10</td>
<td class="pdf_product_price">{::product_price}</td>
</tr>
</table>
';

<table width="100%" border="0" cellpadding="4" cellspacing="0" class="productBorder">
          <tr>
            <td><img src="ba15d-1801-1.jpg" width="250" height="250" /></td>
            <td> <h2>{::product_name}</h2> <h3>{::model}</h3>
              <p>{::description}</p>
              <table>
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td>{::extras}</td>
                    <td width="46" class="priceBg">Price</td>
                  </tr>
                  <tr>
                    <td class="specColor"><strong>Led Type</strong></td>
                    <td class="specColor">SMD 5050</td>
                    <td class="specColor"><strong>Wattage</strong></td>
                    <td class="specColor">3.2W</td>
                    <td width="46" rowspan="2" class="priceBg"><h2>$24</h2></td>
                  </tr>
                  <tr class="specColor">
                    <td><strong>Lumen Output</strong></td>
                    <td>240</td>
                    <td><strong>Base Type</strong></td>
                    <td>BA15D</td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
          
          </table>