<div class="box">
  <div class="box-heading"><?php echo $heading_title; ?></div>
  <div class="box-content">
    <div class="box-category">
      <p>
        <?php foreach ($categories as $category) { ?>
      </p>
      <p>
        <?php if ($category['category_id'] == $category_id) { ?>
        <a href="<?php echo $category['href']; ?>" class="active"><?php echo $category['name']; ?></a>
        <?php } else { ?>
        <a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a>
        <?php } ?>
        <?php if ($category['children']) { ?>
      </p>
      <p>
        <?php foreach ($category['children'] as $child) { ?>
      aaaa</p>
      <p>
        <?php if ($child['category_id'] == $child_id) { ?>
        <a href="<?php echo $child['href']; ?>" class="active"> <?php echo $child['name']; ?></a>
        <?php } else { ?>
        <a href="<?php echo $child['href']; ?>"> <?php echo $child['name']; ?></a>
        <?php } ?>
      </p>
      <p>
        <?php } ?>
      </p>
<p>
        <?php } ?>
      </p>
      <p>
        <?php } ?>
      </p>
    </div>
  </div>
</div>
