<div class="box box-fbconnect">
<!--  <div class="box-heading"><?php echo $heading_title; ?></div>-->
  <div class="box-content">
	<a class="box-fbconnect-a" href="<?php echo $fbconnect_url; ?>"><?php echo $fbconnect_button; ?></a>
  </div>
</div>
