<?php if($referralcheckout_token) { ;?>
<div class="referralcheckout" style="text-align:center">
  <div style="padding:7px 4px 12px 4px;font-size:150%;word-wrap:break-word;color:#636E75"><?php echo $text_share_info;?></div>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "a0860bcc-0d48-44fb-bcbd-3c1f55bb4d42"}); </script>
  <p class=MsoNormal>
      <span st_url="<?php echo $st_url ?>" st_title="<?php echo $st_title;?>" st_image="<?php echo $st_image;?>" st_summary="<?php echo $st_summary;?>" class='st_facebook_large' displayText='Facebook'></span>
      <span st_url="<?php echo $st_url;?>" st_title="<?php echo $st_title;?>" st_image="<?php echo $st_image;?>" st_summary="<?php echo $st_summary;?>" class='st_twitter_large' displayText='Tweet'></span>
      <span st_url="<?php echo $st_url;?>" st_title="<?php echo $st_title;?>" st_image="<?php echo $st_image;?>" st_summary="<?php echo $st_summary;?>" class='st_google_large' displayText='Google'></span>
      <span st_url="<?php echo $st_url;?>" st_title="<?php echo $st_title;?>" st_image="<?php echo $st_image;?>" st_summary="<?php echo $st_summary;?>" class='st_email_large' displayText='Email'></span>
      <span st_url="<?php echo $st_url;?>" st_title="<?php echo $st_title;?>" st_image="<?php echo $st_image;?>" st_summary="<?php echo $st_summary;?>" class='st_sharethis_large' displayText='ShareThis'></span>
  </p>
  <p class=MsoNormal>&nbsp;</p>
</div>
<?php } ?>