<!--<div class="box">-->
  <!--<div class="box-heading"><?php echo $heading_title; ?></div>-->
  <div class="box-content">
      <div class="cart">
        <?php if (($setting['position'] == 'content_top') || ($setting['position'] == 'content_bottom')) { ?>
            <!--<?php echo $text_content_explain; ?>-->
            <div class="searchdk">
<table>
	<tr>
	<td><input type="text" name="filter_searchanywhere" size="22" value=""  class="searchdktextfield"/></td>
    <td><img id="button-searchanywhere" src="image/data/icons/search-glass.gif" /></td>
    </tr>
    </table>
            </div>
        <?php }else{ ?>
            <div class="searchdk">
           <table>
           <tr>
           <td><input type="text" name="filter_searchanywhere" size="22" value="" class="searchdktextfield"/></td>
           <td><img id="button-searchanywhere" src="image/data/icons/search-glass.gif" /></td>
           </tr>
           </table>
        </div>        
        <?php } ?>
      </div>
  </div>
<!--</div>-->
<script type="text/javascript"><!--
$('input[name=\'filter_searchanywhere\']').keydown(function(e) {
	if (e.keyCode == 13) {
		$('#button-searchanywhere').trigger('click');
	}
});

$('#button-searchanywhere').bind('click', function() {
	url = 'index.php?route=product/search';
	
	var filter_searchanywhere = $('input[name=\'filter_searchanywhere\']').attr('value');
	var filter_name = $('input[name=\'filter_searchanywhere\']').attr('value');
	
	if (filter_searchanywhere) {
		url += '&filter_name=' + encodeURIComponent(filter_searchanywhere);
		url += '&filter_searchanywhere=' + encodeURIComponent(filter_searchanywhere);
	}

	location = url;
});
//--></script>