<?php echo $header; ?>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/shipping.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons"><a onclick="$('#form').submit();" class="button"><?php echo $button_save; ?></a><a href="<?php echo $cancel; ?>" class="button"><?php echo $button_cancel; ?></a></div>
    </div>
    <div class="content">
      <div class="vtabs"><a href="#tab-general"><?php echo $tab_general; ?></a>
        <?php foreach ($geo_zones as $geo_zone) { ?>
        <a href="#tab-geo-zone<?php echo $geo_zone['geo_zone_id']; ?>"><?php echo $geo_zone['name']; ?></a>
        <?php } ?>
      </div>
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <div id="tab-general" class="vtabs-content">
          <table class="form">
            <tr>
              <td><?php echo $entry_tax_class; ?></td>
              <td><select name="usps_free_tax_class_id">
                  <option value="0"><?php echo $text_none; ?></option>
                  <?php foreach ($tax_classes as $tax_class) { ?>
                  <?php if ($tax_class['tax_class_id'] == $usps_free_tax_class_id) { ?>
                  <option value="<?php echo $tax_class['tax_class_id']; ?>" selected="selected"><?php echo $tax_class['title']; ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $tax_class['tax_class_id']; ?>"><?php echo $tax_class['title']; ?></option>
                  <?php } ?>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_status; ?></td>
              <td><select name="usps_free_status">
                  <?php if ($usps_free_status) { ?>
                  <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                  <option value="0"><?php echo $text_disabled; ?></option>
                  <?php } else { ?>
                  <option value="1"><?php echo $text_enabled; ?></option>
                  <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                  <?php } ?>
                </select></td>
            </tr>
	          <tr>
		          <td><?php echo $entry_us_only; ?></td>
		          <td><select name="usps_free_us_only">
				          <?php if ($usps_free_us_only) { ?>
				          <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
				          <option value="0"><?php echo $text_disabled; ?></option>
				          <?php } else { ?>
				          <option value="1"><?php echo $text_enabled; ?></option>
				          <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
				          <?php } ?>
			          </select></td>
	          </tr>
	          <tr>
		          <td><?php echo $entry_min_limit; ?></td>
		          <td><input type="text" name="usps_free_min_limit" value="<?php echo $usps_free_min_limit; ?>" size="1" />&nbsp;$</td>
	          </tr>
	          <tr>
		          <td><?php echo $entry_free_limit; ?></td>
		          <td><input type="text" name="usps_free_free_limit" value="<?php echo $usps_free_free_limit; ?>" size="1" />&nbsp;$</td>
	          </tr>
              <tr>
                  <td><?php echo $entry_free_limit_ca; ?></td>
                  <td><input type="text" name="usps_free_free_limit_ca" value="<?php echo $usps_free_free_limit_ca; ?>" size="1" />&nbsp;$</td>
              </tr>
            <tr>
              <td><?php echo $entry_sort_order; ?></td>
              <td><input type="text" name="usps_free_sort_order" value="<?php echo $usps_free_sort_order; ?>" size="1" /></td>
            </tr>
          </table>
        </div>
        <?php foreach ($geo_zones as $geo_zone) { ?>
        <div id="tab-geo-zone<?php echo $geo_zone['geo_zone_id']; ?>" class="vtabs-content">
          <table class="form">
            <tr>
              <td><?php echo $entry_rate; ?></td>
              <td><textarea name="usps_free_<?php echo $geo_zone['geo_zone_id']; ?>_rate" cols="40" rows="5"><?php echo ${'usps_free_' . $geo_zone['geo_zone_id'] . '_rate'}; ?></textarea></td>
            </tr>
            <tr>
              <td><?php echo $entry_status; ?></td>
              <td><select name="usps_free_<?php echo $geo_zone['geo_zone_id']; ?>_status">
                  <?php if (${'usps_free_' . $geo_zone['geo_zone_id'] . '_status'}) { ?>
                  <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                  <option value="0"><?php echo $text_disabled; ?></option>
                  <?php } else { ?>
                  <option value="1"><?php echo $text_enabled; ?></option>
                  <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
	          <td><?php echo $entry_delivery ?></td>
	          <td>
		          <?php
	                $delivery_var = "usps_free_{$geo_zone['geo_zone_id']}_delivery";
	              ?>
		          <input name="<?php echo $delivery_var ?>" value="<?php echo isset($$delivery_var) ?  $$delivery_var : "" ?>" /> <?php echo $entry_days ?>
	          </td>
            </tr>
          </table>
        </div>
        <?php } ?>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('.vtabs a').tabs(); 
//--></script> 
<?php echo $footer; ?> 