<script type="text/javascript" src="/catalog/view/javascript/jquery.placeholder.min.js"></script>
<div id="footer">
<!--  <div class="column" style="width:380px">-->
  <div class="inf">
    <h3><?php echo $text_information; ?></h3>
    <ul>
      <?php $infoIndex = 0;?>
      <?php foreach ($informations as $information) {
        if ($infoIndex % 5 == 0 && $infoIndex != 0) echo "</ul><ul>"; ?>
      <li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>
      <?php
        $infoIndex++;
      } ?>
    </ul>
  </div>
<!--   <div class="column">-->
  <div class="customer">
    <h3><?php echo $text_service; ?></h3>
    <ul>
      <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
	  <li><a href="<?php echo $wholesale; ?>">Wholesale</a></li>
      <?php /* <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li> */ ?>
      <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>
    </ul>
  </div>
<?php /* Have no idea why its disabled. VV.
<div class="column">
<div class="extras">
    <h3><?php echo $text_extra; ?></h3>
    <ul>
      <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>
      <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
      <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
      <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
    </ul>
  </div> */ ?>
<!-- <div class="column">-->
  <div class="account">
    <h3><?php echo $text_account; ?></h3>
    <ul>
      <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
      <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
      <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
      <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>
    </ul>
  </div>
  <a class="rfeed" href="index.php?route=feed/latest_products_rss"><img src="image/feed.png" width="28" height="28" alt="RSS Feed" /></a>
</div>
</div>
</div>
<div style="text-align: center; margin-left: auto; margin-right: auto; width: 855px; margin-top: 30px;">
       <!--<div style="float: left;"><img src="image/data/comodo_secure_113x59_transp.png" /></div>-->

       <div style="float: left;">
            <a name="trustlink" href="http://secure.trust-guard.com/certificates/8233" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Security Verified" style="border: 0;" src="http://seals.trust-guard.com/security-8233-large-gray.gif" /></a>

            <a name="trustlink" href="http://secure.trust-guard.com/certificates/8233" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Business Verified Seal" style="border: 0;" src="http://seals.trust-guard.com/business-8233-large-gray.gif" /></a>

            <a name="trustlink" href="http://secure.trust-guard.com/certificates/8233" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Privacy Seal" style="border: 0;" src="http://seals.trust-guard.com/privacy-8233-large-gray.gif" /></a>
       </div>

       <!-- <div style="float: left; margin-left: 10px"><a href="http://www.instantssl.com" id="comodoTL">Trusted SSL Certificate</a> -->
	   <script language="JavaScript" type="text/javascript">TrustLogo("http://www.marineledbulbs.com/image/data/comodo_secure_113x59_transp.png", "CL1", "none");
       </script></div>
        <div style="float:left;padding-top: 5px;padding-left: 5em;"><img src="image/data/paypal-verified-logo.png" alt="Paypal" border="0" /></div>
        </div>
        <div style="text-align: center; margin-left: auto; margin-right: auto; width: 500px; margin-top: 130px; margin-bottom: 20px;">Copyright &copy; <?php echo date('Y'); ?> Marine LED Bulbs - <a href="/" title="LED Lights for Boats">Marine LED Lights</a> &amp; <a href="/led-replacement-bulbs" title="LED Replacement Bulbs">Marine LED Bulbs</a></div>
<!-- Google Code for remarket Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1006363583;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "NJYJCJHn5AMQv8fv3wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript"
src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
src="http://www.googleadservices.com/pagead/conversion/1006363583/?value=0&a
mp;label=NJYJCJHn5AMQv8fv3wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body></html>
