<?php echo $header; ?>
<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<div class="box">
  <div class="left"></div>
  <div class="right"></div>
  <div class="heading">
    <h1><?php echo $heading_title; ?></h1>
    <div class="buttons"><a onclick="$('#form').submit();" class="button"><span><?php echo $button_save; ?></span></a><a onclick="location='<?php echo $cancel; ?>';" class="button"><span><?php echo $button_cancel; ?></span></a></div>
  </div>
  <div class="content">
    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
      <table class="form">
        <tr>
          <td><span class="required">*</span> <?php echo $entry_code; ?></td>
          <p><td><textarea name="rssfeed_code" cols="170" rows="1"><a href="<?php echo $data_feed; ?>"><img alt="" title="RSSFeed" src="image/data/icon_rss/rss05.png"/></a></textarea></p>
<p><span style="color:#f00;"><em><span style="font-size:12px;">*** UTILITY of RSSFeed : Extensions > ProductFeeds > Google Base = Statut Enabled ***</span></em><span style="font-size:12px;"><br /></span></p>  
		  <?php if ($error_code) { ?>
            <span class="error"><?php echo $error_code; ?></span>
            <?php } ?></td>
            </tr>
	<tr>
	<td> Collor RSS icons:</td>
	<td>
         <table border="1" cellpadding="2" cellspacing="1" style="width: 30px; height: 15px">
	<tbody>
		<tr>
			<td>
				<span style="background-color: #00f"><span style="color: #fff">rss01.png</span></span></td>
			<td>
				<span style="background-color: #f00"><span style="color: #fff">rss02.png</span></span></td>
			<td>
				<span style="background-color: #008000"><span style="color: #fff">rss03.png</span></span></td>
			<td>
				<span style="background-color: #00ff00"><span style="color: #fff">rss04.png</span></span></td>
			<td>
				<span style="background-color: #ffa500"><span style="color: #fff">rss05.png</span></span></td>
			<td>
				<span style="background-color: #800080"><span style="color: #fff">rss06.png</span></span></td>
			<td>
				<span style="background-color: #000"><span style="color: #fff">rss07.png</span></span></td>
			<td>
				<span style="background-color: #0ff"><span style="color: #fff">rss08.png</span></span></td>
			<td>
				<span style="background-color: #e6e6fa"><span style="color: #000">rss09.png</span></span></td>
		</tr>
	</tbody>
</table>
	  
       </td>
    </tr>

          <tr>
          <td><?php echo $entry_status; ?></td>
          <td><select name="rssfeed_status">
              <?php if ($rssfeed_status) { ?>
              <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
              <option value="0"><?php echo $text_disabled; ?></option>
              <?php } else { ?>
              <option value="1"><?php echo $text_enabled; ?></option>
              <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
              <?php } ?>
            </select></td>
        </tr>


      <tr>
        <td>My Forum</td>
        <td><a href="http://www.opencart2004.com/" target="_blank">Thai Opencart webboard</a></td>
     </tr>
      <tr>
        <td>You can make</td>
        <td><a href="http://www.opencart2004.com/pic/donate.jpg" target="_blank">Donate!</a></td>
     </tr>
      <tr>
        <td>Developer</td>
        <td><a href="http://www.somsak2004.com/" target="_blank">Somsak2004</a></td>
     </tr>
       <tr>
        <td style="vertical-align: middle;">Last Post @ opencart2004.com</td>
	<td ><IFRAME      SRC="http://www.somsak2004.com/board3.php"      WIDTH=100% HEIGHT=40     FRAMEBORDER=0> </IFRAME></td>
      </tr>




      </table>
    </form>
 </div>
<div style="text-align:center; color:#666666;"> 
		RSSFeedModule Version 1.4.8 - 1.4.9.3 

  </div>
</div>
<?php echo $footer; ?>

