html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background:url('../image/body.png') repeat-x #F6F6F6;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	color: #636E75;
	font: Tahoma, Geneva, sans-serif;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 5px;
}
a, a:visited, a b {
	color: #38B0E3;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
	color: #06C;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left {
	float: left;
/*	width: 180px; */
	width: 220px;
}
#column-right {
	float: right;
	width: 180px;
}
#content {
	width: 550px;
	min-height: 400px;
	margin-bottom: 25px;
}

/* for one page checkout */

#contentone {
	width: 100%;
	min-height: 400px;
	margin-bottom: 25px;
}

#column-left + #column-right + #content, #column-left + #content {
/*	margin-left: 195px; */
	margin-left: 235px;
}
#column-right + #content {
	margin-right: 195px;
}
.wrap_content{
	padding:10px;
	background:#fff;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 5px 10px #666;
	-moz-box-shadow: 0px 5px 10px #666;
	-webkit-box-shadow: 0px 5px 10px #666;
}
/* header */

.headerWelcome {
	background: #28516F;
	color: #FFF;
	font-size: 11px;
	letter-spacing: 2px;
	padding:5px;
	height: 35px;
	position: absolute;
/*	left: 525px; */
	right: 0px;
	top: 40px;
	z-index: 9;
	width: 450px;
	border: 1px solid #006BAC;
	border-radius: 7px 7px 7px 7px;
}

#header {
	height: 70px;
	margin-bottom: 25px;
	padding-bottom: 4px;
	position: relative;
	z-index: 99;
}
#header #logo {
	position: absolute;
	top: 30px;
	left: 15px;
	margin:0;
	z-index:10000;
}
#language {
	position: absolute;
	top: 9px;
	left: 400px;
	width: 150px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
}
#currency {
	width: 150px;
	position: absolute;
	top: 5px;
	left: 360px;
	color: #999;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #38B0E3;
	text-decoration: none;
}
#header #cart {
	position: absolute;
	top: 95px;
	right: 60px;
	z-index: 9;
	min-width: 300px;
}
#header #cart .heading {
	float: right;
	margin-top: 15px;
	padding-left: 14px;
	padding-right: 14px;
	position: relative;
	z-index: 1;
}
#header #cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#header #cart .heading a {
	color: #38B0E3;
	text-decoration: none;
}
#header #cart .heading a span {
	background: url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
	font-weight:bold;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}

#header #cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
}
#header #cart.active .content {
	display: block;
}
#header #cart .cart {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
#header #cart .cart td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
#header #cart .cart .image {
	width: 1px;
}
#header #cart .cart .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
#header #cart .cart .name small {
	color: #666;
}
#header #cart .cart .quantity {
	text-align: right;
}
#header #cart .cart td.total {
	text-align: right;
}
#header #cart .cart .remove {
	text-align: right;
}
#header #cart .cart .remove img {
	cursor: pointer;
}
#header #cart table.total {
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
#header #cart table.total td {
	color: #000;
}
#header #cart .content .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 300px;
	z-index: 15;
}
#header .button-search {
	position: absolute;
	left: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#header #search input {
	background: #FFF;
	padding: 1px 1px 1px 33px;
	width: 62px;
	height: 21px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;
}
#header #welcome {
	position: absolute;
	top: 9px;
	right: 0px;
	z-index: 5;
	width: 450px;
	text-align: right;
	color: #999999;
}
#header .links {
	position: absolute;
	left: 0px;
	top: 9px;
	font-size: 10px;
	padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #38B0E3;
	text-decoration: none;
	font-size: 12px;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}

#header .wrap_cart{
	position:absolute;
	top:75px;
	right:10px;
	height:64px;
}
/* menu */
#menu {
	background:url('../image/menu2.png') no-repeat;
	height: 38px;
	margin-bottom: 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	padding: 0px 5px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
}
#menu > ul > li:hover {
	background: #38B0E3;
}
#menu > ul > li > a {
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 12px 15px 11px 15px;
	z-index: 6;
	position: relative;
}
#menu > ul > li > div {
	display: none;
	background: #0C83D4;
	position: absolute;
	z-index: 5;
	padding: 5px;
	border: 1px solid #aaa;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	background: #38B0E3;
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}

#freebar {
	margin-bottom:5px;
}

.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 180px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: left;
	padding: 7px;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button {
	display: inline-block;
	padding-left: 6px;
	background: url('../image/button-left2.png') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}
a.button span {
	color: #fff;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	background: url('../image/button-right2.png') top right no-repeat;
}
a.button:hover {
	background: url('../image/button-left-active2.png') top left no-repeat;
}
a.button:hover span {
	color: #fff;
	background: url('../image/button-right-active2.png') top right no-repeat;
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
/*	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;*/
	border: 0px solid #D7DDEC;
	font-size: 16px;
	text-align: justify;
	color: #333;
	line-height: 1.3em;
	padding: 0px;
	margin-bottom: 40px;
	z-index: 2;
	overflow: auto;
}

.tab-content-description {
	border: 1px solid #D7DDEC;
	padding: 8px;
}

/* box */
.box {
	margin-bottom: 20px;
}
.box .box-heading {
/*	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;*/
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
/*	padding: 8px 10px 7px 10px; */
	padding: 4px 4px 4px 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	color: #333;

}

.box .box-content {
	background: #FFF;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
/*	border-top: 2px solid #0C83D4;*/
	border: 0px solid #DBDEE1;
	padding-left: 4px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 2px;
}
/* box products */
.box-product {
	width: 100%;
	text-align: left;
}
/*.box-product > div {
	width: 160px;
	width: 120px;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;}*/


.box-product > div {
	width: 175px;
	height: 280px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	border: 1px solid #E9EDEE;
	margin-bottom: 3px;
}

.box-product > div:hover {
	border: 1px solid #63BEF3;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;
}



#column-left + #column-right + #content .box-product > div {
	width: 175px;
	text-align: center;
	/*border: 1px solid #CCC;*/

}
/*.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 0px solid #E7E7E7;
}


.box-product .name a {
	color: #38B0E3;
color: #F90;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	font-size: 11px;
}*/

.box-product .image {
	display: block;
	margin-bottom: 0px;
	padding: 3px;
	padding-top: 10px;
}
.box-product .image img {

	background: #fff;

}
.box-product .name a {
	color: #0289C9;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	height: 45px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

/*.box-product .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
	font-size: 11px;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
	color: #000;
}*/

.box-product .price {
	display: block;
	color: #333333;
	margin-bottom: 3px;
	text-align: left;
	padding-left: 15px;
	font-weight: bold;
	padding-top: 20px;
	padding-right: 5px;
	font-size: 24px;
	text-align: right;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
	text-align: left;

}
.box-product .price-new {
	font-weight: bold;
	color: #000;
}


.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
.box-category {
	margin-top: -5px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;

}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;

}
.box-category > ul > li {
/*	padding: 5px 0px 5px 0px;*/
	padding: 5px 0px 5px 0px;


}
.box-category > ul > li + li {
	border-top: 0px solid #EEEEEE;

}

/* left parent category */
.box-category > ul > li > a {
	text-decoration: none;
	color: #333;
	font-size: 14px;

}
/* left parent category */

.box-category > ul > li ul {
	display: none;

}
.box-category > ul > li a.active {
/*	font-weight: bold;*/
}
.box-category > ul > li a.active + ul {
	display: block;
}
/* sub category on left */
.box-category > ul > li ul > li {
	padding: 5px 0px 5px 0px;
/*	padding: 5px 2px 0px 30px;
		border: 1px solid #000;
	border-radius: 6px 6px 6px 6px;
	height: 30px;
	width: 180px;*/

}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color: #666;
	font-size: 14px;
	background: #FFF;
	font-weight: normal;
}
.box-category > ul > li ul > li > a.active {
/*	font-weight: bold; */
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 5px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}

.category-list {
	overflow: auto;
	margin-bottom: 20px;
	line-height: 20px;
}

.category-list a {
	text-decoration: none;
	color: #4C6678;
	font-weight: bold;
	font-size: 12px;
}

.category-list ul, .category-list .row {
	list-style-type: none;
	list-style-position: inside;
	margin-left: -25px;
	text-align: center;
	clear:both;

/*	width: 18%; */
}
.category-list .row
{
	margin-left: 0;
	text-align: center;
}

.category-list li, .category-list .row .cl {
	float: left;
	display: block;
	width: 155px;
	margin-bottom: 25px;
	margin-left: 10px;
	text-decoration: underline;
	border: 1px solid white;

}

.category-list li:hover, .category-list .row .cl:hover {
	float: left;
	display: block;
	width: 155px;
	margin-bottom: 25px;
	margin-left: 10px;
	text-decoration: underline;
	color: #09C;
	border: 1px solid #CCC;
}

.category-list .div a {
	text-decoration: none;
	color: #4C6678;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	border-top: 1px solid #EEEEEE;
	padding-bottom: 5px;
	padding-top: 5px;
	overflow: auto;
}
.product-filter .display {
/*	margin-right: 15px; */
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}


/* category list view */

.product-list > div {
	overflow: hidden;
	border: 1px solid #E9EDEE;
	padding-top: 5px;
	height: 180px;
}

.product-list > div:hover {
	overflow: hidden;
	border: 1px solid #63BEF3;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;
}

.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	/* border-top: 1px solid #EEEEEE; */
	padding-top: 5px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
/*	border: 1px solid #E7E7E7; */
}
.product-list .name {
	margin-bottom: 13px;
	padding-right: 60px;
}
.product-list .name a {
	/* color: #38B0E3; */
	font-weight: bold;
	text-decoration: none;
	color: #0289C9;
}

.product-list .name a:hover {
	/* color: #38B0E3; */
	font-weight: bold;
	text-decoration: underline;
	color: #0289C9;
}

.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #637A8A;
	padding-right: 60px;
}

.product-list .more {
	font-weight: bold;
	border-radius: 3px 3px 3px 3px;
	margin-left: 165px;
	width: 88px;
	height: 25px;
	vertical-align: bottom;
    /* fallback (Opera) */
    background: #80909F;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #80909F, #657783);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#80909F), to(#657783));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#80909F', EndColorStr='#657783', GradientType=0);
	text-align: center;
}

.product-list .more:hover {
	font-weight: bold;
	border-radius: 3px 3px 3px 3px;
	margin-left: 165px;
	width: 88px;
	height: 25px;
	vertical-align: bottom;
    /* fallback (Opera) */
    background: #1FA4DF;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #1FA4DF, #0687C8);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#1FA4DF), to(#0687C8));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#1FA4DF', EndColorStr='#0687C8', GradientType=0);
	text-align: center;
}



.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	padding-right: 10px;
	text-align: right;
	color: #333333;
	font-size: 14px;
	width: 120px;
	font-weight: bold;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
	color: #000;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}

.product-list .more2 {
	width: 79px;
	height: 23px;
	margin-left: 165px;
	background: url(../image/category-list-more.jpg) no-repeat top left;
	text-align: center;
	padding-top: 3px;
}

.product-list .more2 a {
	color: #fff;
	font-size: 11px;
	text-decoration: none;
}

.product-list .cart {
	padding-right: 4px;
	float: right;
}

.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}

/* category grid view */

.product-grid {
	width: 100%;
	overflow: hidden;
	text-align: left;
}
.product-grid > div {
	width: 175px;
	height: 280px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	border: 1px solid #E9EDEE;
}

.product-grid > div:hover {

	border: 1px solid #63BEF3;
-moz-box-shadow: 0 0 3px #888;
-webkit-box-shadow: 0 0 3px#888;
box-shadow: 0 0 3px #888;
}

#column-left + #column-right + #content .product-grid > div {
float: left;
margin: 0px;
padding: 0px;
}

.product-grid .image {
	display: block;
	margin-bottom: 0px;
	padding: 3px;
	padding-top: 10px;
}
.product-grid .image img {

	background: #fff;

}
.product-grid .name a {
	color: #0289C9;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	height: 45px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	color: #333333;
	margin-bottom: 3px;
	text-align: left;
	padding-left: 15px;
	font-weight: bold;
	padding-top: 32px;
	font-size: 14px;
	float: left;

}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
	text-align: left;

}
.product-grid .price-new {
	font-weight: bold;
	color: #000;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
	padding-top: 28px;
	padding-right: 2px;
	float: right;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 265px;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	width: 260px;
	margin-left: -10px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.product-info .description {
/*	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;*/
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	/*color: #38B0E3;*/
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
	color: #000;
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}

.altTable0 {
	background-color: #f3f3f3;
	border: 1px solid #f3f3f3;
	width: 100%;
}

.altTable0 img {
	margin: 0px !important;
	padding: 0px !important;
}

.altRow0 {
	font-size: 22px;
	font-weight: bold;
	background: #fff;
	text-align: center;

}

.altRow1 {
	text-align: center;
	background: #fff;
	font-weight: bold;
}

.altRow2 {
	font-weight: bold;
	text-align: center;
	background: #fff;

}

/* options section */

.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 10px;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 10px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: left;
	width: 40%;
}
.attribute td {
	padding: 2px;
	color: #4D4D4D;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
	color: #000;
}
/* wishlist */
.wishlist-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-product td {
	padding: 7px;
}
.wishlist-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart {
	text-align: center;
}
.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock {
	text-align: left;
}
.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total {
	text-align: right;
}
.wishlist-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product tbody .remove {
	vertical-align: middle;
}
.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart {
	text-align: center;
}
.wishlist-product tbody .name, .wishlist-product tbody .model, .wishlist-product tbody .stock {
	text-align: left;
}
.wishlist-product tbody .quantity, .wishlist-product tbody .price, .wishlist-product tbody .total {
	text-align: right;
}
.wishlist-product tbody .price s {
	color: #F90;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content,
.my-last-order .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
.my-last-order .order-id {
    width: 140px;
    float: left;
}
.my-last-order .order-status {    
    float: left;
}
.my-last-order .order-content div {    
    float: left;
}

.my-last-order .order-content {
    margin-top: 5px;
}

.my-last-order .order-content .col1 {
    width: 140px;
}

.my-last-order .order-content .col2 {
    width: 220px;
}

.my-last-order .order-content .col3 {
    width: 115px;
}

.my-last-order .order-content .col4 {
    width: 50px;
}

/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 33.3%;
}
.return-model {
	float: left;
	width: 33.3%;
}
.return-quantity {
	float: left;
	width: 33.3%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 33.3%;
}
.return-opened {
	float: left;
	width: 33.3%;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-remove {
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}


.return-remove a.button {
	display: inline-block;
	padding-left: 6px;
	background: url('../image/button-left2.png') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}

.return-remove a.button:hover {
	background: url('../image/button-left-active2.png') top left no-repeat;
}


.return-remove a.button span {
	color: #fff;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	background: url('../image/button-right2.png') top right no-repeat;

}


.return-remove a.button:hover span {
	color: #fff;
	background: url('../image/button-right-active2.png') top right no-repeat;
}







.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: left;
	width: 49%;
}
.return-captcha {
	float: right;
	width: 49%;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
	text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .remove {
	vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F90;
	font-weight: bold;
}
.cart-module .cart-heading {
	border: 1px solid #DBDEE1;
	padding: 8px 8px 8px 22px;
	font-weight: bold;
	font-size: 11px;
	color: #555555;
	margin-bottom: 15px;
	cursor: pointer;
	background: #F8F8F8 url('../image/arrow-right.png') 10px 50% no-repeat;
}

.cart-module .active {
	background: #F8F8F8 url('../image/arrow-down.png') 7px 50% no-repeat;
}
.cart-module .cart-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.cart-total {
	border: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
	line-height: 20px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */
#footer {
	clear: both;
	min-height: 115px;
	padding: 10px 10px 0px 40px;
	border: 1px solid #DBDEE1;
	background: #F8F8F8;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
#footer h3 {
	color: #000000;
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 8px;
}
#footer .column {
	float: left;
	width: 340px;
	min-height: 100px;
}

#footer .column ul {
	margin-top: 0px;
	padding-left: 30px;
    float:left;
	}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #000;
}
#footer .column a:hover {
	text-decoration: underline;
}
#powered {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	clear: both;
}

#footer .inf {
	float: left;
	width: 350px;
	min-height: 100px;
}

#footer .inf ul {
	margin-top: 0px;
	margin-left: 18px;
	padding-left: 12px;
    float:left;
}

#footer .inf a {
    text-decoration: none;
    color: #000;
}

#footer .customer {
	float: left;
	width: 160px;
	min-height: 100px;
}

#footer .customer ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 12px;
    float:left;
}

#footer .customer a {
	text-decoration: none;
	color: #000;
}
#footer .customer a:hover {
	text-decoration: underline;
}

#footer .extras {
	float: left;
	width: 160px;
	min-height: 100px;
}

#footer .extras ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 12px;
    float:left;
}

#footer .extras a {
	text-decoration: none;
	color: #000;
}
#footer .extras a:hover {
	text-decoration: underline;
}

#footer .account {
	float: left;
	width: 160px;
	min-height: 100px;
}

#footer .account ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 12px;
    float:left;
}

#footer .account a {
	text-decoration: none;
	color: #000;
}
#footer .account a:hover {
	text-decoration: underline;
}


/* banner */
/*.banner div {
	text-align: center;
	width: 100%;
}
.banner div img {
	margin-bottom: 20px;
}*/

.banner {
    display: inline-block;
	margin-bottom: 5px;
/*    margin-left:22px;*/
}
#banner0{
	margin-left:0;
}


.banner div {
	text-align: center;
	width: 100%;
}

/*
 * Cart Module
 * @credit: Opencart-Template.co.uk
 */
#module_cart .content {
    background: none repeat scroll 0 0 #FFF;
    border-color: #EEEEEE;
    border-radius: 0 7px 7px 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 2px #DDDDDD;
    clear: both;
    display: none;
    min-height: 150px;
    padding: 8px;
    position: relative;
    top: -1px;
}
#module_cart.active .heading {
    border-left: 1px solid #EEEEEE;
    border-radius: 7px 7px 0 0;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin-top: 5px;
    padding-bottom: 6px;
    padding-top: 10px;
}
#module_cart.active .content {
    display: block;
}
#module_cart .cart {
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 100%;
	font-size: 10px;
}
#module_cart .cart td {
    border-bottom: 1px solid #EEEEEE;
	 color: #000000;
	padding: 2px 3px;
    vertical-align: top;
	font-size: 10px
}

#module_cart .cart td a {
	color: #666;
	font-size: 11px;
	text-decoration: none;
}

#module_cart .cart td a:hover {
	color: #666;
	font-size: 11px;
	text-decoration: underline;
}

#module_cart .cart .image {
    display: none;
}
#module_cart .cart .image img {
    border: 1px solid #EEEEEE;
    text-align: left;
}
#module_cart .cart .name small {
  color: #666666;

    line-height: 14px;

}
#module_cart .cart td.total, #module_cart .cart td.quantity{
    text-align: right;
    vertical-align: middle;
}
#module_cart .cart .remove {
    text-align: right;
	padding: 0 2px;
	vertical-align: middle;
}
#module_cart .cart .remove img {
    cursor: pointer;
}
#module_cart table.total {
    border-collapse: collapse;
    clear: left;
    float: right;
    margin-bottom: 5px;
    padding: 5px;
}
#module_cart table.total td {
    color: #000000;
	font-size: 11px;
}
#module_cart .checkout {
    clear: both;
    text-align: right;
}
#module_cart .empty {
    text-align: center;
}



a.delivery-method {
    background: url(../image/dropdown.gif) no-repeat 100% 0;
    padding: 0 15px 0 0;
}
.popupMainTable {
    border: 1px solid #333;
	background: #FFF;
    width:560px;
}
a.close {
	text-decoration: none;
	color: #000;
	font-weight: bold;
    text-align: right;
}
.popupHeader {
	color: #0D9FDF;
	font-size: 18px;
    text-align: center;
	padding: 10px 0px;
}

.popupMethods {
	padding-left: 5px;
	width: 95%;
}

/*New left-side menu*/

.thumb-category-container{
	border:1px solid #d0d7da;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
}
.thumb-category-container h5
{
	padding:3px 10px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:10px;
	line-height:normal;
}
ul.thumb-category {
	list-style-type: none;
    margin:0;
    padding: 0;
}
.thumb-category li {
/*	border:1px solid #CCC;*/
/*	padding:3px 3px 3px 15px;*/
/*	height: 20px;*/
}
.thumb-category li.main {
	border: 1px solid #fff;
	border-bottom:1px solid #d0dbe0;
	background: rgb(243,247,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,247,248,1) 0%, rgba(217,221,223,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,247,248,1)), color-stop(100%,rgba(217,221,223,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,247,248,1) 0%,rgba(217,221,223,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,247,248,1) 0%,rgba(217,221,223,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,247,248,1) 0%,rgba(217,221,223,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(243,247,248,1) 0%,rgba(217,221,223,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f7f8', endColorstr='#d9dddf',GradientType=0 ); /* IE6-9 */

}

.thumb-category li.main a {
	color: #344a59;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	padding:5px 10px;
	display:block;
}

.thumb-category li.main a:hover {
	color:#e76005;
}
/*.thumb-category li.subcat
{
	background:url('../image/dot.gif') left bottom repeat-x;

}*/

.thumb-category li.subcat
{
	border: 1px solid #fff;
	border-bottom:1px solid #d0dbe0;
	background: rgb(243,247,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,247,248,1) 0%, rgba(217,221,223,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,247,248,1)), color-stop(100%,rgba(217,221,223,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,247,248,1) 0%,rgba(217,221,223,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,247,248,1) 0%,rgba(217,221,223,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,247,248,1) 0%,rgba(217,221,223,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(243,247,248,1) 0%,rgba(217,221,223,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f7f8', endColorstr='#d9dddf',GradientType=0 ); /* IE6-9 */
}
.thumb-category li.subcat a {
	color: #344a59;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	padding:5px 10px;
	display:block;
}

.thumb-category li.subcat a:hover {
	color:#e76005;
}

.thumb-category a img {
	vertical-align:middle;
}

#shipping-text {
	line-height: 20px;
}

.shipping-method {
    float:left;
    padding: 0 5px;
    text-align: center;
}

.provider-name {
    padding:5px 0 0;
    width:160px;
}
label.provider-name {
    display:block;
    text-align: center;
    width: auto;
    min-width:160px;
    font-size:10px;
}
.provider-name.ems, .provider-name.singpost {
    background: url(../image/providers/singpost-logo.gif) no-repeat 50% 0;
}
.provider-name.dhl {
    background: url(../image/providers/dhl-logo.gif) no-repeat 50% 0;
}
.provider-name.spendx4free {
    padding-top: 10px;
}
.provider {
    padding:30px 0 0;
    display:block;
}
.provider.ems, .provider.singpost {
    min-width:77px;
    background: url(../image/providers/singapore-post.gif) no-repeat 0 0;
}
.provider.dhl {
    background: url(../image/providers/dhl.gif) no-repeat 0 0;
    min-width:94px;
}
.shipping-method label {
    display: block;
}
#shipping-form .select {
    margin:10px 0 0 0;
}
#shipping-methods {
    overflow:hidden;
}
.loading {
    background: url(../image/ajax-loader.gif) no-repeat 50% 50%;
    text-indent: -9999px;
}

/* search anywhere */

.searchdk {
	padding-bottom: 14px;
}

.searchdkButton {
	padding-top: 4px;
}

.searchdktextfield {
	height: 17px;
}

/* information tabbed */

#box22{
	margin: 0px;
	text-align: left;
/*	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 3px #aaa;
	-webkit-box-shadow: 0 0 3px #aaa;
	box-shadow: 0 0 3px #aaa;*/
}

	#menu22{
		overflow: hidden;
		margin-left: -3em;
	}



		#menu22 li{
			float: left;
			/*width: 99px;
			border-right: 1px solid #CCC;
			border-left: 1px solid #CCC;*/
			list-style: none;
			border: 1px solid #CCC;
		}

		#menu22 li:hover{
			float: left;
			/*width: 99px;
			border-right: 1px solid #CCC;
			border-left: 1px solid #CCC;*/
			list-style: none;
			border: 1px solid #09F;
		}

		#menu22 li a{
			float: left;
			width: 100px;
			color: #333;
			font-size: 13px;
			height: 16px;
			padding: 8px 0 8px 4px;
			text-align: left;
			z-index: 10;
			position: relative;
			text-decoration: none;
		}

		#menu22 li a:hover{
			background: #fff;
			text-decoration: none;
		}

	#boxes{
		position: relative;
	}

		#boxes h1, #boxes h2, #boxes h3{
			font-size: 16px;
			font-weight: bold;
		}

		.box22:target, .box22:first-child{
			display: block;
		}

		.box22{
			padding:12px;
			padding-left: 5px;
			display: none;
			position: absolute;
			top:0;
			left:0;
			width: 520px;
			background: #fff;
		}

		.box22:target span{
			height: 32px;
			/*width: 99px;*/
			background: #fff;
			display: block;
			position: absolute;
			top: -32px;
			z-index:0;
		}

		#aquasignal span{
			left:0;
		}

		#hellamarine span{
			/*left:150px;*/
		}

		#imtramarine span{
			/*left:300px;
			width: 150px;*/
		}

		#lalizas span{
			/*left:300px;
			width: 150px;*/
		}

		#perko span{
			/*left:300px;
			width: 150px;*/
		}

		.box22 ul, .box p{
			line-height: 1.5em;
			padding-top: 1em;
		}

		#boxes a{
			color: #ff0000;
		}

		.box22 li a{
			display: block;
			line-height: 2.2em;
			font-size: 14px;
			margin-bottom: 6px;
			/*padding-left: 10px;*/
			border-left: 1px solid #bbb;
		}

		#boxes ul li a:hover{
			color: #fff;
			font-weight: bold;
			background: #999;
			text-decoration: none;
			border-left: 1px solid #555;
		}

/* html box for main page categories */

.htmlbox {
	width: 265px;
	height: 148px;
	margin: 2px;
	margin-bottom: 13px;
	border: 1px solid #D0D7DA;
	display: inline-block;
}

.htmlbox:hover {
	text-decoration: underline;
}

.htmlbox_category {
	padding-left: 4px;
	padding-top: 2px;
	background: url(../image/main-categories/main-category-text-bg.jpg) repeat-x;
	height: 32px;

}

.htmlbox a {
	text-decoration: none;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

.htmlbox a:hover {
	color: #333;
}
.specifications {
    width: 100%;
}
.specifications td.spec-name {
    width: 20% !important;
}
.specifications td strong {
    color: black;
}
.specifications td.spec-value {
    width: 30% !important;
}

/* addthis bar */

.addthisfb {
	float: left !important;
	width: 80px !important;
	margin-right: 3px !important;
}

.addthistw {
	float: left !important;
	width: 80px !important;
	margin-right: 3px !important;
}

.addthisgg {
	float: left !important;
	width: 85px !important;
}

.addthisshare {
	float: left !important;
	width: 25px !important;
}

/* tooltip */
		.tooltip {
			border-bottom: 1px dotted #000000;
			color: #000000;
			outline: none;
			cursor: auto;
			text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span {
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			-webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
			position: absolute; left: 553px; top: 1em; z-index: 99;
			margin-left: 0; width: 390px; height: 85px; line-height: 2em;
			color: #fff;
			font-size: 1.1em;
		}
/*		.tooltip:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
		}
		.tooltip:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif;
			font-size: 1.2em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}*/
		.classic { padding: 0.8em 1em; }
		.custom { padding: 0.5em 0.8em 0.8em 2em; }
		* html a:hover { background: transparent; }
		.info { background: #33CC00; border: 1px solid #2BB0D7;	}


#shipping-form {
	width: 740px; height: 370px; padding:5px;
}

.free-terms {
	width: 350px;
	border: 1px solid #CCC;
	border-radius: 6px 6px 6px 6px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding: 5px;
}

#shipping-form .buttons2 {
	text-align: center;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#shipping-submit {
	margin-left: auto;
	margin-right: auto;
}

.cartlinkicon1 {
	float: left;
	width: 30px;
}

.cartlinkicon2 {
	float: left;
	padding-top:4px;
	color: #333;
	text-decoration: underline;
	font-size: 14px;
	letter-spacing: 0.5px;
}

.cartlinkicon3 {
	height: 36px;
}

/* Added by Vadim Voituk */
input.onecheckout-error {
	background: #FFD1D1 url('../image/warning.png') no-repeat right center;
}
.rfeed {float:right;}

/* Added by LIAL */
p.select {text-align: center}

/* delivery header banner */

.delivery-header {
	overflow: hidden;
	margin-bottom: 10px;
}
.delivery-header .truck {
	float: left;
	width: 46%;
}
.delivery-header .truck img {
	max-width: 100%;
	display: inline-block;
	width: 70px;
	vertical-align: middle;
}
.delivery-header .plane {
	float: right;
	width: 54%;
}
.delivery-header .plane img {
	max-width: 100%;
	display: inline-block;
	width: 70px;
	vertical-align: middle;
}
.delivery-header .truck div,
.delivery-header .plane div {
	display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
	font-weight: 600;
}
.delivery-header .red {
	color: red;
}
.delivery-header .delivery-text  {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 9.2px;
}
.delivery-header .delivery-text u b a {
	font: inherit;
	color: red;
}